<template>
    <div class="page-container">
        <ProfileCard v-bind:username="advert.user" />
        <ExtendedAdvert v-on:update-advert="updateAdvert" v-bind:advert="advert" />
    </div>
</template>

<script>
import { advertsAPI } from '../DAL/requests';
import ExtendedAdvert from '../components/ExtendedAdvert';
import ProfileCard from '../components/ProfileCard'

export default {
  name: 'Advert',
  data() {
    return {
      advert: {},
    };
  },
  mounted() {
    advertsAPI.getAdvertById(this.$route.params.id).then((response) => {
      this.advert = response.data.result;
    }).catch((error) => {
      console.log(error);
    });
  },
  methods: {
    updateAdvert() {
      advertsAPI.getAdvertById(this.$route.params.id).then((response) => {
      this.advert = response.data.result;
    }).catch((error) => {
      console.log(error);
    });
    }
  },
  components: {
    ExtendedAdvert,
    ProfileCard
  },
};
</script>

<style scoped>
  .page-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }
</style>
