<template>
    <div>
        <div class="browse-content">
            <AdvertsList />
        </div>
    </div>
</template>

<script>
import AdvertsList from '@/components/AdvertsList';

export default {
  components: {
    AdvertsList,
  },
};
</script>

<style scoped>
    h1 {
        text-align: center;
    }
    .browse-content {
        display: flex;
    }
</style>
