<template>
    <div class="create-container">
        <CreateAdvert />
    </div>
</template>

<script>
import CreateAdvert from '../components/CreateAdvert';

export default {
  name: 'Create',
  components: {
    CreateAdvert,
  },
};
</script>

<style scoped>
    .create-container {
        display: flex;
        flex-direction: column;
        height: 92vh;
        width: 100vw;
        justify-content: center;
        align-items: center;
    }
</style>
