<template>
  <div class="home">
    <div class="home-container">
      <div class="logo">
        <div class="logo-image">
          <img src="../assets/app-logo.png">
        </div>
        advertify
        </div>
      <div class="slogan">
        <h1>Create an advert in a few minutes.</h1>
      </div>
      <router-link class="cta-btn" to="/signup">SIGN UP</router-link>
    </div>
    <div class="right-svg">
      <img class="right-svg" src="../assets/rightwave.svg">
    </div>
    
    <img class="left-svg" src="../assets/leftcircle.svg">
  </div>
</template>

<script>
// @ is an alias to /src
</script>

<style scoped>
.home {
  height: 92vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5rem;
  width: 60%;
}

.logo {
  display: flex;
  margin-bottom: 1rem;
  font-size: 3rem;
  font-weight: 600;
}

.logo-image {
  height: 80px;
}

.logo-image img {
  height: 100%;
  width: auto;
}

.slogan {
  font-size: 3rem;
  margin-bottom: 1rem;
  text-align: center;
}

.cta-btn {
  padding: 1rem 3.5rem;
  border: 1px solid black;
  border-radius: 9999px;
  color: black;
  background-color: #FFDE02;
  text-decoration: none;
  font-weight: 600;
}

.right-svg {
  position: absolute;
  bottom: 0;
  right: 0;
}

.left-svg {
  position: absolute;
  bottom: 0;
  left: -125px;
  
}


</style>
