<template>
    <div class="login-page">
        <div>
            <form class="login-form" @submit.prevent="login">
                <h2>Sign in your account</h2>
                <span>{{getError}}</span>
                <label>Email</label>
                <input type="email" placeholder="Enter your email" v-model="email" :class="{error : getError}">
                <label>Password</label>
                <input type="password" placeholder="Enter your password" v-model="password" :class="{error : getError}">
                <button type="submit">Log In</button>
            </form>
        </div>
    <img class="background-svg" src="../assets/bottom-svg.svg">
    </div>
</template>

<script>
export default {
  name: 'Login',
  data() {
    return {
      email: '',
      password: ''
    };
  },
  methods: {
    login() {
      this.$store.dispatch('getUser', {
        email: this.email,
        password: this.password,
      }).then((response) => {
        this.$router.push({ name: 'Browse' });
        this.$store.dispatch('initializePhoto', JSON.parse(localStorage.getItem('user')).username)
      });
    },
  },
  computed: {
    getError() {
      return this.$store.getters.getError
    }
  }
};
</script>

<style scoped>
    .login-page {
        height: 92vh;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .login-form {
        display: flex;
        flex-direction: column;
        padding: 3rem;
        margin-bottom: 3rem;
        border-radius: 5px;
        border: 1px solid black;
        width: 23rem;
    }

    .login-form span {
      color: red;
    }

    .login-form h2 {
      margin-bottom: 1.5rem;
    }
    .login-form input {
        margin: .5rem 0;
        padding: .3rem .5rem;
        border: 1px solid black;
        border-radius: 3px;
        outline: none;
    }

    .login-form input.error {
      border-color: red;
    }

    .login-form button {
      margin-top: 1.5rem;
      padding: .5rem 2rem;
      font-weight: 700;
      font-size: 1.2rem;
      background-color: #FFDE02;
      border-radius: 5px;
      border: 1px solid black;
      cursor: pointer;
    }

    .background-svg {
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
    }
</style>
