<template>
  <div>
    <div class="profile-page">
    <div class="background"></div>
    <div class="profile-header">
      <div class="username">
        <h2>
          {{this.username}}
        </h2>
            </div>
        <div class="profile-image">
            <img :src="photoUrl">
        </div>
        <div class="tabs">
          <span :class="{active : profileTab === 'adverts'}" v-on:click="showAdverts">adverts</span>
          <span :class="{active : profileTab === 'info'}" v-on:click="showInfo">info</span>
          <span :class="{active : profileTab === 'contacts'}" v-on:click="showContacts">contacts</span>
        </div>
    </div>
    
  </div>
    <div v-if="profileTab === 'adverts'" class="profile-cards">
        <AdvertCard v-for="ad in userAdverts" v-bind:ad="ad" :key="ad._id"/>
    </div>
    <div class="info-tab" v-if="profileTab === 'info'">
        <ProfileInfo v-bind:userInfo="userInfo"/>
    </div>
    <div class="contacts-tab" v-if="profileTab === 'contacts'">
      <div>
        <h3>User Contacts</h3>
        <div>
          <span>Phone: </span>
          <span>{{this.userInfo.contacts}}</span>
        </div>
        <div>
          <span>Email: </span>
        </div>
      </div>
    </div>
  </div>
  
</template>

<script>
import { advertsAPI } from '../DAL/requests';
import AdvertCard from '../components/AdvertCard';
import ProfileInfo from '../components/ProfileInfo'

export default {
  name: 'Profile',
  data() {
    return {
      username: JSON.parse(localStorage.getItem('user')).username,
      photoUrl: '',
      userAdverts: [],
      userInfo: {},
      profileTab: 'adverts'
    };
  },
  async mounted() {
    await advertsAPI
      .getPhotoUrl(this.username)
      .then((response) => {
        this.photoUrl = response.data.result.photoPath;
      })
      .catch((error) => {
        console.log(error)
      })
    await advertsAPI.getUserAdverts(this.username).then((response) => {
      this.userAdverts = response.data.adverts
    })
    await advertsAPI.getInfo(this.username).then( response => {
      this.userInfo = response.data
    })
  },
  methods: {
    showAdverts() {
      this.profileTab = 'adverts'
    },
    showInfo() {
      this.profileTab = 'info'
    },
    showContacts() {
      this.profileTab = 'contacts'
    }
  },
  components: {
    AdvertCard,
    ProfileInfo
  },
};
</script>

<style scoped>
    .profile-page {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 1rem;
        border-bottom: 1px solid #cccccc;
    }

    .tabs {
      margin-left: 2.5rem;
      padding: 1rem;
    }

    .tabs span {
      margin-right: 1.5rem;
      font-size: 1.2rem;
      font-weight: 600;
      cursor: pointer;
    }
    
    .active {
      border-bottom: 1px solid black;
    }

    .background {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      background-color: #FFDE02;
      height: 250px;
      z-index: -1;
    }

    .profile-header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .profile-image {
        height: 220px;
        width: 220px;
        border-radius: 50%;
        background-color: #ababab;
        padding: 1rem;
        position: relative;
    }

    .profile-image img {
        height: 220px;
        width: 220px;
        border-radius: 50%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
        border: 8px solid white;
    }

    .username {
        font-size: 1.3rem;
        font-weight: bolder;
        margin-bottom: .5rem;
    }

    .profile-info {
        padding: 1rem;
    }

    .info-list {
        list-style: none;
    }

    .profile-cards {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        flex: 1;
        margin-top: 1rem;
    }
    
    .info-tab {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        flex: 1;
        margin-top: 1rem;
    }

    .contacts-tab {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-top: 1rem;
    }

    .contacts-tab h3 {
      text-align: center;
      margin-bottom: 1rem;
    }

    .contacts-tab span {
      padding: .5rem;
    }
</style>
