<template>
    <div class="settings-container">
        <div class="tabs-block">
            <h2>Settings</h2>
            <ul>
                <li v-on:click="showProfileSettings">
                    Profile
                </li>
                <li v-on:click="showPrivacySettings">
                    Privacy
                </li>
            </ul>
        </div>
        <div class="settings-block">
            <ProfileSettings v-if="settingsTab === 'Profile'"/>
            <PrivacySettings v-if="settingsTab === 'Privacy'" />
        </div>
    </div>
</template>

<script>
import ProfileSettings from '../components/ProfileSettings'
import PrivacySettings from '../components/PrivacySettings'

export default {
    name: 'Settings',
    data() {
        return {
            settingsTab: 'Profile'
        }
    },
    methods: {
        showProfileSettings() {
            this.settingsTab = 'Profile'
        },
        showPrivacySettings() {
            this.settingsTab = 'Privacy'
        }
    },
    components: {
        ProfileSettings,
        PrivacySettings
    }
}
</script>

<style scoped>
    .settings-container {
        display: flex;
    }

    .tabs-block {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 15%;
    }

    .tabs-block ul {
        list-style: none;
    }

    .tabs-block ul li {
        padding: .5rem;
        font-size: 1.1rem;
        cursor: pointer;
    }

    .settings-block {
        flex: 1;
    }
</style>