<template>
  <div class="signup">
    <div class="login-redirect">
      <div class="background"></div>
      <h1>Already signed up?</h1>
      <p>Create your advert just in a few steps absolutely for free!</p>
      <router-link to="/login">Log in</router-link>
    </div>
    <div>
      <h1>Create your account</h1>
      <form class="signup-form" @submit.prevent="signUp">
        <label>Email</label>
        <input type="email" placeholder="Enter your email" v-model="email" v-on:change="validateEmail" :class="{error : errors.includes('email')}">
        <small v-show="errors.includes('email')">Enter valid email, example: user@mail.com</small>
        <label>Username</label>
        <input type="text" placeholder="Enter your username" v-model="username" v-on:change="validateUsername" :class="{error : errors.includes('username')}">
        <small v-show="errors.includes('username')">Username should contain at least 3 characters</small>
        <label>Password</label>
        <input type="password" placeholder="Type to create password" v-model="password" v-on:change="validatePassword" :class="{error : errors.includes('password')}">
        <small v-show="errors.includes('password')">Password is too weak</small>
        <button type="submit">Sign Up</button>
      </form>
    </div>
  </div>
</template>

<script>
export default {
  name: 'SignUp',
  data() {
    return {
      email: '',
      username: '',
      password: '',
      errors: []
    };
  },
  methods: {
    signUp() {
      this.$store.dispatch('createUser', {
        email: this.email,
        username: this.username,
        password: this.password,
      }).then(() => {
        this.$router.push({ name: 'Browse' });
        this.$store.dispatch('initializePhoto', JSON.parse(localStorage.getItem('user')).username)
      });
    },
    validateEmail() {
      const re = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      const valid = re.test(String(this.email).toLowerCase())
      if (!valid) {
        this.errors.push('email')
      } else {
        this.errors = this.errors.filter(e => e !== 'email')
      }
    },
    validateUsername() {
      if (this.username.length < 3 || this.username.length > 18) {
        this.errors.push('username')
      } else {
        this.errors = this.errors.filter(e => e !== 'username')
      }
    },
    validatePassword() {
      if (this.password.length < 5 || this.password.length > 25) {
        this.errors.push('password')
      } else {
        this.errors = this.errors.filter(e => e !== 'password')
      }
    }
  },
};
</script>

<style scoped>
  .signup {
    height: 92vh;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .login-redirect {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20rem;
    text-align: center;
  }

  .login-redirect h1 {
    margin-bottom: 1.5rem;
  }

  .login-redirect p {
    margin-bottom: 1rem;
  }

  .login-redirect a {
    margin-top: 1rem;
    padding: .5rem 3rem;
    color: black;
    text-decoration: none;
    border: 1px solid black;
    border-radius: 5px;
    font-weight: 700;
    font-size: 1.3rem;
    margin-bottom: 2.5rem;
  }

  .signup-form {
    display: flex;
    flex-direction: column;
  }

  .signup-form small {
    color: red;
  }

  .signup-form input {
    margin: .5rem 0;
    padding: .4rem .6rem;
    border-radius: 3px;
    border: 1px solid black;
  }

  .signup-form button {
    margin-top: 1rem;
    padding: .5rem 2rem;
    font-weight: 700;
    font-size: 1.3rem;
    background-color: #FFDE02;
    border-radius: 5px;
    border: 1px solid black;
    cursor: pointer;
    outline: none;
  }

  .background {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: -1;
    width: 50%;
    background-color: #FFDE02;
    clip-path: polygon(0 0, 100% 0%, 83% 100%, 0% 100%);
  }

  .signup-form input.error {
    border-color: red;
  }
</style>
