<template>
  <div class="list">
    <SideBar v-bind:categories="categories" />
    
    <div class="browse-content">
      <input name="advert" v-model="search" placeholder="Search">
      <div v-if="isFetching" class="preloader">
        <Preloader />
      </div>
      <div v-if="noResults" class="missing">
        <Missing />
      </div>
      <div class="cards">
      <Pagination v-bind:totalPages="totalPages"
                  v-bind:currentPage="currentPage"
                  v-bind:limit="limit"
                  v-bind:portionSize="5"
                  v-on:change-page="onPageChange" />
      <AdvertCard v-for="ad of ads" v-bind:ad="ad" :key="ad._id" />
    </div>
    </div>
    
  </div>
</template>

<script>
import AdvertCard from './AdvertCard';
import SideBar from './SideBar';
import Pagination from './common/Pagination';
import Preloader from './common/Preloader'
import Missing from './common/Missing'
import { advertsAPI } from '../DAL/requests';

export default {
  data() {
    return {
      ads: [],
      categories: [],
      totalPages: 0,
      currentPage: 1,
      limit: 5,
      search: '',
      isFetching: false,
      noResults: false
    };
  },
  mounted() {
    advertsAPI.getCategories().then((data) => {
      this.categories = data.categories;
    });

    if (!this.$route.params.category) {
      this.isFetching = true
      advertsAPI.getAdverts(this.currentPage, this.limit).then((data) => {
          this.ads = data.ads;
          this.totalPages = data.totalPages;
          this.currentPage = data.currentPage;
          this.isFetching = false
          this.toggleMissing()
        });
    } else {
      this.isFetching = true
      advertsAPI.getSortedAdverts(this.$route.params.category, this.currentPage).then((data) => {
          this.ads = data.adverts;
          this.totalPages = data.totalPages;
          this.currentPage = data.currentPage;
          this.isFetching = false
          this.toggleMissing()
        });
    }
  },
  methods: {
    onPageChange(page) {
      this.currentPage = page;
      this.isFetching = true
      if (!this.$route.params.category) {
        advertsAPI.getAdverts(this.currentPage, this.limit).then((data) => {
        this.ads = data.ads;
        this.isFetching = false
      });
      } else {
        advertsAPI.getSortedAdverts(this.$route.params.category, this.currentPage).then((data) => {
          this.ads = data.adverts;
          this.totalPages = data.totalPages;
          this.currentPage = data.currentPage;
          this.isFetching = false
        });
      }
      
    },
    toggleMissing() {
      if (this.ads.length === 0) {
        this.noResults = true
      } else {
        this.noResults = false
      }
    }
  },
  watch: {
    '$route.params.category': function (category) {
      this.currentPage = 1
      if (!category) {
        this.isFetching = true
        advertsAPI.getAdverts(this.currentPage, this.limit).then((data) => {
          this.ads = data.ads;
          this.totalPages = data.totalPages;
          this.currentPage = data.currentPage;
          this.isFetching = false
          this.toggleMissing()
        });
      } else {
        this.isFetching = true
        advertsAPI.getSortedAdverts(category, 1).then((data) => { 
          this.ads = data.adverts;
          this.totalPages = data.totalPages;
          this.currentPage = data.currentPage;
          this.isFetching = false
          this.toggleMissing()
        });
      }
    },
    search(value) {
      if (value === '') {
        this.isFetching = true
        advertsAPI.getAdverts(this.currentPage, this.limit).then((data) => {
          this.ads = data.ads;
          this.totalPages = data.totalPages
          this.currentPage = data.currentPage
          this.isFetching = false
          this.toggleMissing()
        });
      } else {
        this.isFetching = true
        advertsAPI.getBySearch(value, 1).then((data) => {
          this.ads = data.result;
          this.totalPages = data.totalPages
          this.currentPage = data.currentPage
          this.isFetching = false
          this.toggleMissing()
        });
      }
    },
  },
  components: {
    AdvertCard,
    SideBar,
    Pagination,
    Preloader,
    Missing
  },
};
</script>

<style scoped>
h3 {
  text-align: center;
}

.browse-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.list {
  display: flex;
  width: 100%;
  margin-right: 2rem;
  margin-top: 2rem;
}
.cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.browse-content input {
  width: 25%;
  border: 1px solid black;
  padding: .5rem 1rem;
  outline: none;
  border-radius: 9999px;
  align-self: center;
  
}

.preloader {
  text-align: center;
  margin-top: 2rem;
}

.missing {
  text-align: center;
  margin-top: 2rem;
}
</style>
