<template>
    <div class="info-card">
        <router-link :to="{ name: 'Advert', params: { id: ad._id } }">
            <div class="categories">
              <span>
                <router-link :to="{ name: 'Browse', params: { category: ad.category } }">
                    {{ad.category}}
              </router-link>
                
              </span>
              </div>
            <div class="card-header">
              <div class="card-avatar">
                <img :src="photoUrl">
              </div>
              <div class="header-info">
                <h3>{{ad.title}}</h3>
                <div>{{ad.user}}</div>
                <div class="card-body">
                  <p>
                    {{ad.body}}
                  </p>
                </div>
                <div class="card-photos">{{ photos.length }} photos</div>
              </div>
            </div>
            <div class="card-footer">
              <div>
                <span>
                {{ advertDate }}
                &middot;
              </span>
              <span>
                {{ advertComments }}
              </span>
              </div>
            </div>
        </router-link>
    </div>
</template>

<script>
import { advertsAPI } from '../DAL/requests'

export default {
  name: 'AdvertCard',
  props: {
    ad: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {
      photoUrl: '',
      photos: []
    }
  },
  mounted() {
    advertsAPI.getPhotoUrl(this.ad.user).then(response => {
      this.photoUrl = response.data.result.photoPath
    }).catch(error => {
      console.log(error)
    }) 
  },
  computed: {
    advertDate() {
      if (this.ad.updated) {
        let date = new Date(this.ad.updated)
        return date.toDateString()
      } else {
        let date = new Date(this.ad.created)
        return date.toDateString()
      }
    },
    advertComments() {
      if (this.ad.comments.length === 1) {
        return '1 comment'
      } else {
        return this.ad.comments.length + ' comments'
      }
    }
  }
};
</script>

<style scoped>
    .info-card {
        padding: 2rem;
        border-radius: 5px;
        background-color: white;
        -webkit-box-shadow: 0px -1px 5px -1px rgba(0,0,0,0.31); 
        box-shadow: 0px -1px 5px -1px rgba(0,0,0,0.31);
        margin: 1rem;
        margin-bottom: 2rem;
        width: 50%;
        
    }

    .categories span {
      padding: .3rem 1rem;
      background-color: #FFDE02;
      border-radius: 9999px;
      font-size: .9rem;
    }
    a {
        text-decoration: none;
        color: black;
    }

    .card-header {
      display: flex;
      margin-top: 1.5rem;
      flex-wrap: wrap;
    }

    .card-avatar {
      height: 70px;
      width: 70px;
      border-radius: 50%;
      margin-right: 1.5rem;
    }
    .card-avatar img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      border-radius: 50%;
    }

    .card-body {
      max-width: 31.25rem;
      margin-top: 1rem;
      margin-bottom: 1rem;
      font-weight: 400;
    }

    .card-body p {
      width: 100%;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
    }

    .header-info h3{
      font-weight: 500;
      font-size: 1.3rem;
    }

    .card-footer {
      display: flex;
      justify-content: flex-end;
      color: #ABABAB;
    }

    .card-photos {
      color: #8BB7E9;
    }

</style>
