<template>
    <div class="comment">
        <div class="comment-avatar">
            <img :src="photoUrl">
        </div>
        <div class="comment-content">
            <div class="user">
                {{loggedUser}}
            </div>
            <div class="comment-input">
                <textarea placeholder="Write something nice.." v-model="body"/>
                <button v-on:click="addComment">Send</button>
            </div>
        </div>
    </div>
</template>

<script>
import { advertsAPI } from '../DAL/requests'
export default {
    name: 'CommentInput',
    props: {
        id: {
            type: String,
            required: true
        }
    },
    data() {
        return {
            photoUrl: '',
            body: ''
        }
    },
    mounted() {
      advertsAPI.getPhotoUrl(this.loggedUser).then(response => {
          this.photoUrl = response.data.result.photoPath
      }).catch(error => {
          console.log(error)
      })
  },
  methods: {
      addComment() {
          advertsAPI.addComment(this.id, this.body).then( () => {
              this.$emit('update-advert')
          }).catch(error => {
              console.log(error)
          })
      }
  },
  computed: {
      loggedUser() {
      return this.$store.getters.loggedUser
    }
  }
}
</script>

<style scoped>
    .comment {
        display: flex;
        align-items: center;
        margin-top: .2rem;
        padding: 1.2rem;
        border-top: 1px solid #c4c4c4;
    }

    .user {
        font-weight: 600;
    }

    .comment-avatar {
        height: 55px;
        width: 55px;
        border-radius: 50%;
        margin-right: 1rem;
    }
    .comment-avatar img {
        height: 100%;
        width: 100%;
        border-radius: 50%;
        object-fit: cover;
    }

    .comment-content {
        flex: 1;
    }
    
    .comment-input {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .comment-input textarea {
        height: 100%;
        width: 95%;
        border: none;
        border-radius: 5px;
        background-color: #f7f7f7;
        padding: .4rem;
        outline: none;
    }

    .comment-input button {
        height: 100%;
        width: auto;
        padding: .9rem;
        margin-left: .5rem;
        border: none;
        border-radius: 5px;
        background-color: #FFDE02;
        cursor: pointer;
        font-size: 1rem;
    }

</style>