<template>
    <div class="comment">
        <div class="comment-avatar">
            <img :src="photoUrl">
        </div>
        <div class="comment-content">
            <div class="user">
                {{comment.user}}
                <span v-if="loggedUser === comment.user" v-on:click="deleteComment">
                    <i class="fas fa-times"></i>
                </span>
            </div>
            <div>
                {{comment.body}}
            </div>
        </div>
    </div>
</template>

<script>
import { advertsAPI } from '../DAL/requests'

export default {
  name: 'Comment',
  props: {
    comment: {
      type: Object,
      required: true,
    },
    advertId: {
        type: String,
        required: true
    }
  },
  data() {
      return {
          photoUrl: ''
      }
  },
  mounted() {
      advertsAPI.getPhotoUrl(this.comment.user).then(response => {
          this.photoUrl = response.data.result.photoPath
      }).catch(error => {
          console.log(error)
      })
  },
  methods: {
      deleteComment() {
          advertsAPI.deleteComment(this.advertId, this.comment.id).then(() => {
              this.$emit('update-advert')
          }).catch(error => {
              console.log(error)
          })
      }
  },
  computed: {
      loggedUser() {
      return this.$store.getters.loggedUser
    }
  }
};
</script>

<style scoped>
    .comment {
        display: flex;
        align-items: center;
        margin-top: .2rem;
        padding: 1.2rem;
        border-top: 1px solid #c4c4c4;
    }

    .user {
        font-weight: 600;
        display: flex;
        justify-content: space-between;
    }

    .user span {
        cursor: pointer;
    }

    .user span svg {
        color: #c4c4c4;
    }

    .user span svg:hover {
        color: black;
    }

    .comment-avatar {
        height: 55px;
        width: 55px;
        border-radius: 50%;
        margin-right: 1rem;
    }
    .comment-avatar img {
        height: 100%;
        width: 100%;
        border-radius: 50%;
        object-fit: cover;
    }

    .comment-content {
        flex: 1;
    }
</style>
