<template>
  <div class="form-container">
    <h2>Create advert</h2>
    <div>
      <form class="create-form" @submit.prevent="createAdvert">
        <label>Title</label>
        <small v-show="errors.includes('title')">Title should have min of 3 characters and max of 50</small>
        <div class="title-block">
          <input type="text" placeholder="Title" v-model="title" v-on:change="validateTitle" :class="{error : errors.includes('title')}"/>
          
          <select v-model="category" :class="{error : errors.includes('category')}">
            <option disabled selected value>Category</option>
            <option v-for="option in options" :key="option._id">
              {{ option.title }}
            </option>
          </select>
        </div>
        <div class="create-text">
          <label>Advert Text</label>
          <small v-show="errors.includes('body')">Your advert should have at least 5 characters</small>
          <textarea placeholder="Enter text" v-model="body" v-on:change="validateBody" :class="{error : errors.includes('body')}"/>
        </div>
        <div class="submit-block">
          <input type="file" placeholder="Choose file" />
          <button type="submit">Submit</button>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import { advertsAPI } from "../DAL/requests";

export default {
  name: "CreateAdvert",
  data() {
    return {
      title: "",
      body: "",
      category: "",
      options: [],
      errors: [],
    };
  },
  mounted() {
    advertsAPI.getCategories().then((data) => {
      this.options = data.categories;
    });
  },
  methods: {
    createAdvert() {
      const formData = {
        title: this.title,
        body: this.body,
        category: this.category,
      };
      this.validateCategory()
      advertsAPI
        .postAdvert(formData.title, formData.body, formData.category)
        .then((response) => {
          this.$router.push({ name: "Browse" });
        })
        .catch((error) => {
          console.log(error);
        });
    },
    validateTitle() {
      if (this.title.length < 3 || this.title.length > 50) {
        this.errors.push("title");
      } else {
        this.errors = this.errors.filter((e) => e !== "title");
      }
    },
    validateBody() {
      if (this.body.length < 5) {
        this.errors.push("body");
      } else {
        this.errors = this.errors.filter((e) => e !== "body");
      }
    },
    validateCategory() {
      if (this.category.length === 0) {
        this.errors.push("category");
      } else {
        this.errors = this.errors.filter((e) => e !== "category");
      }
    },
  },
};
</script>

<style scoped>
.form-container {
  padding: 1rem;
}

.title-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title-block input {
  width: 50%;
  border-radius: 5px;
  border: 1px solid black;
  padding: 0.3rem;
  outline: none;
}


select {
  padding: 0.3rem;
  border-radius: 5px;
  background-color: #ffde02;
}

.create-form label {
  display: block;

  margin: 0.5rem 0;
}

.create-text {
  height: 250px;
  width: 500px;
}

.create-text textarea {
  max-height: 100%;
  min-height: 92%;
  width: 100%;
  outline: none;

  border-radius: 5px;
  padding: 0.3rem;
}
.submit-block {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 2.5rem;
}

.submit-block button {
  background-color: #ffde02;
  border: 1px solid black;
  padding: 0.3rem 4.5rem;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}

.submit-block input::-webkit-file-upload-button {
  visibility: hidden;
}
.submit-block input::before {
  content: "Select some files";
  display: inline-block;
  border: 1px solid black;
  border-radius: 5px;
  background-color: #ffde02;
  padding: 0.3rem 2.5rem;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  margin: 0.5rem 0.5rem 0.5rem 0;
}

.create-form input.error {
  border-color: red;
}

.create-form textarea.error {
  border-color: red;
}

.create-form select.error {
  border-color: red;
}

small {
  color: red;
}
</style>
