<template>
  <div class="drop-down">
    <ul>
      <li>
          <router-link v-on:click="$emit('toggle-drop-down')" to="/profile">profile</router-link>
        </li>
      <li>
          <router-link v-on:click="$emit('toggle-drop-down')" to="/settings">settings</router-link>
      </li>
      <li>
          <router-link v-on:click="$emit('toggle-drop-down')" to="/logout">log out</router-link>
      </li>
    </ul>
  </div>
</template>

<style>
.drop-down {
  position: absolute;
  text-align: center;
  top: 65px;
  right: 16px;
  width: 160px;
  border-radius: 5px;
  padding: .7rem 1.5rem;
  background-color: #FFDE02;
  z-index: 10;
}

.drop-down ul {
    list-style: none;
}

.drop-down ul li a {
    text-decoration: none;
    color: black;
}
</style>
