<template>
  <div class="container">
    <div class="extended-info">
      <div v-if="loggedUser === advert.user" class="action-buttons">
        <span v-on:click="toggleEditMode">
          <i class="fas fa-edit"></i>
        </span>
        <span v-on:click="toggleModal">
          <i class="fas fa-trash-alt"></i>
        </span>
      </div>
      <div class="info-content">
        <h2 v-if="!editMode">{{ advert.title }}</h2>
        <label v-if="editMode">Title</label>
        <input v-if="editMode" type="text" v-model="title" />
      </div>
      <div class="info-content">
        <label v-if="editMode">Body</label>
        <p v-if="!editMode">{{ advert.body }}</p>
        <textarea v-if="editMode" v-model="body"></textarea>
      </div>
      <div>
        <div class="category" v-if="!editMode"> 
          <span>
            Category :
            
            <router-link :to="{ name: 'Browse', params: { category: advert.category } }">
              {{ advert.category }}
              </router-link>
              </span>
              <div class="date-block">
        {{advertDate}}
      </div>
        </div>
        <select v-if="editMode" v-model="category">
          <option disabled selected value>Category</option>
          <option v-for="option in options" :key="option._id">
            {{ option.title }}
          </option>
        </select>
      </div>
      <div class="edit-buttons" v-if="editMode">
        <button v-on:click="toggleEditMode">Cancel</button>
        <button v-on:click="editAdvert(advert._id)">Edit</button>
      </div>
      
      <ModalDelete
        v-on:toggle-modal="toggleModal"
        v-on:delete-advert="deleteAdvert(advert._id)"
        v-if="this.isClicked"
      />
    </div>
    <Comment
        v-for="comment in advert.comments"
        v-bind:comment="comment"
        :key="comment.id"
        v-bind:advertId="advert._id"
        v-on:update-advert="updateAdvert"
      />
    <CommentInput v-bind:id="advert._id"
                  v-on:update-advert="updateAdvert"/>
  </div>
</template>

<script>
import Comment from "./Comment.vue";
import ModalDelete from "./ModalDelete.vue";
import CommentInput from './CommentInput'
import { advertsAPI } from "../DAL/requests";

export default {
  name: "ExtendedAdvert",
  props: {
    advert: {
      type: Object,
      required: true,
    },
  },
  mounted() {
    advertsAPI.getCategories().then((data) => {
      this.options = data.categories;
    });
  },
  data() {
    return {
      isClicked: false,
      editMode: false,
      options: [],
      title: "",
      body: "",
      category: ""
    };
  },
  methods: {
    deleteAdvert(id) {
      advertsAPI
        .deleteAdvert(id)
        .then(() => {
          this.$router.push({ name: "Profile" });
        })
        .catch((error) => {
          console.log(error);
        });
    },
    editAdvert(id) {
      advertsAPI
        .editAdvert(id, this.title, this.body, this.category)
        .then(() => {
          this.$router.push({ name: "Profile" });
        })
        .catch((error) => {
          console.log(error);
        });
    },
    updateAdvert() {
      this.$emit('update-advert')
    },
    toggleModal() {
      this.isClicked = !this.isClicked;
    },
    toggleEditMode() {
      this.editMode = !this.editMode;
    },
  },
  computed: {
    loggedUser() {
      return this.$store.getters.loggedUser;
    },
    titleValue() {
      return this.advert.title;
    },
    bodyValue() {
      return this.advert.body;
    },
    advertDate() {
      if (this.advert.updated) {
        let date = new Date(this.advert.updated)
        return date.toDateString()
      } else {
        let date = new Date(this.advert.created)
        return date.toDateString()
      }
    }
  },
  watch: {
    advert(value) {
      if (value) {
        this.title = this.advert.title;
        this.body = this.advert.body;
        this.category = this.advert.category;
      }
    },
  },
  components: {
    Comment,
    ModalDelete,
    CommentInput
  },
};
</script>

<style scoped>

a {
  text-decoration: none;
  color: black;
}

.container {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 1px 2px 3px rgba(165, 165, 165, 0.2);
  width: 70%;
  margin-right: 1rem;
}

.extended-info {
  display: flex;
  flex-direction: column;
}

.info-content {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-content input {
  padding: .2rem .4rem;
  border: 1px solid black;
  border-radius: 3px;
}

.info-content textarea {
  padding: .2rem .4rem;
  border: 1px solid black;
  border-radius: 3px;
  width: 250px;
  height: 150px;
}

.action-buttons {
  align-self: flex-end;
  padding: 1rem;
}

.action-buttons svg {
  margin-right: 1rem;
  color: #c4c4c4;
  cursor: pointer;
}

.action-buttons svg:hover {
  color: black;
}

.date-block {
  align-self: flex-end;
  color: #ABABAB;
}

.category {
  display: flex;
  justify-content: space-between;
  padding: 0 2rem 2rem 2rem;
}

.category a{
  padding: .3rem .8rem;
  background-color: #FFDE02;
  border-radius: 9999px;
}

select {
  margin-left: 2rem;
  margin-bottom: 2rem;
  border-radius: 3px;
  background-color: #FFDE02;
}

.edit-buttons {
  display: flex;
  justify-content: center;
}

.edit-buttons button {
  padding: .2rem 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  background-color: #FFDE02;
  font-size: 1rem;
  border: 1px solid black;
  cursor: pointer;
}

</style>
