<template>
  <div class="modal">
    <div class="modal-content">
      <span v-on:click="$emit('toggle-modal')" class="close">&times;</span>
      <p>Are you sure you want to delete this advert?</p>
      <button v-on:click="$emit('toggle-modal')" class="btn-cancel">Cancel</button>
      <button v-on:click="$emit('delete-advert')" class="btn-danger">Delete</button>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ModalDelete',
};
</script>

<style scoped>
.modal {
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 30%;
  text-align: center;
  font-size: 1.1rem;
}

p {
  margin: 1rem 0;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.btn-cancel {
    background-color: #eeeeee;
    padding: .5rem 1rem;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    margin-right: 1rem;
    margin-top: 1rem;
    font-size: 1.1rem;
}

.btn-danger {
    background-color: rgb(255, 44, 44);
    padding: .5rem 1rem;
    margin-top: 1rem;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
}
</style>
