<template>
  <div class="navbar" :class="{ sticky : sticked }">
    <div class="logo">
      <div class="logo-image">
          <img src="../assets/app-logo.png">
        </div>
        <router-link to="/">
        advertify
        </router-link>
    </div>
    <div>
      <ul class="nav-links">
        <li >
          <router-link to="/browse">
          browse
          </router-link>
        </li>
        <li>
            <router-link to="/create">
            create
            </router-link></li>
        <li v-if="!loggedIn">
            <router-link class="sign-btn" to="/signup">
            signup
            </router-link>
        </li>
        <li v-if="loggedIn">
          <div class="profile-menu" :class="{active : dropDownisClicked}" v-on:click="showDropDown">
            {{loggedUser}}
            <div class="header-img">
              <img :src="loggedUserAvatar || photoUrl">
            </div>
            <span class="arrow-down" ></span>
            <DropDown v-if="dropDownisClicked"
                      v-on:toggle-drop-down="showDropDown"/>
          </div>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
import DropDown from './DropDown';
import { advertsAPI } from '../DAL/requests';

export default {
  name: 'NavBar',
  computed: {
    loggedIn() {
      return this.$store.getters.loggedIn
    },
    loggedUser() {
      return this.$store.getters.loggedUser
    },
    loggedUserAvatar() {
      return this.$store.getters.loggedUserAvatar
    }
  },
  data() {
    return {
      dropDownisClicked: false,
      photoUrl: '',
      activeLink: '',
      sticked: false
    };
  },
  mounted() {
    advertsAPI.getPhotoUrl(JSON.parse(localStorage.getItem('user')).username).then(response => {
      this.photoUrl = response.data.result.photoPath
    }).catch(error => {
      console.log(error)
    }) 
  },
  created () {
    window.addEventListener('scroll', this.handleScroll);
  },
  destroyed () {
    window.removeEventListener('scroll', this.handleScroll);
  },
  methods: {
    showDropDown() {
      this.dropDownisClicked = !this.dropDownisClicked;
    },
    handleScroll (event) {
      if (window.pageYOffset > 0) {
        this.sticked = true
      } else {
        this.sticked = false
      }
    }
  },
  components: {
    DropDown,
  },
};
</script>

<style scoped>
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 8vh;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  transition: 300ms ease-in;
}

.sticky {
  background-color: #FFDE02;
}

.profile-menu {
  font-weight: 600;
  cursor: pointer;
  border-radius: 9999px;
  padding: 0 .5rem;
}

.active {
  background-color: #FFDE02;
  
}

.logo {
  display: flex;
  align-items: center;
  padding: 1rem;
  font-size: 1.3rem;
  font-weight: bold;
}

.logo-image {
  height: 50px;
}

.logo-image img {
  height: 100%;
  width: auto;
}

.nav-links {
  display: flex;
  list-style: none;
}
.nav-links li {
  padding: 1rem;
}

a {
    text-decoration: none;
    color: black;
    font-weight: 600;
}

.sign-btn {
  padding: .4rem .8rem;
  border-radius: 9999px;
  border: 1px solid black;
  background-color: #FFDE02;
}

.header-img {
  height: 25px;
  width: 25px;
  background-color: #ababab;
  border-radius: 50%;
  margin-left: 1rem;
}

.header-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.profile-menu {
  display: flex;
  align-items: center;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #ababab;
  margin-left: .5rem;
  cursor: pointer;
}
</style>
