<template>
    <div>
        <h2>Privacy</h2>
        <div class="privacy-settings"> 
        <div>
            <div>
                <h3>Who can see my contacts</h3>
            <select>
                <option>Everyone</option>
                <option>Nobody</option>
            </select>
            </div>
            
        </div>
        <div>
            <div>
                <h3>Who can see my contacts</h3>
            <select>
                <option>Everyone</option>
                <option>Nobody</option>
            </select>
            </div>
        </div>
    </div>
    </div>
</template>

<style scoped>
    .privacy-settings {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .privacy-settings h3 {
        margin-top: .5rem;
    }

    .privacy-settings select {
        width: 100%;
        margin-top: .5rem;
    }
</style>