<template>
<div>
  <h2>Profile</h2>
  <div class="profile-settings">
    <div class="info-settings">
      <form @submit.prevent="updateInfo">
        <label>First Name</label>
        <input type="text" v-model="firstName" placeholder="John" />
        <label>Last Name</label>
        <input type="text" v-model="lastName" placeholder="Doe"/>
        <label>Bio</label>
        <textarea type="text" v-model="bio" placeholder="Expamle: 23 y.o. designer from San Francisco"/>
        <label>Contacts</label>
        <input
          type="tel"
          v-model="contacts"
          pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}-[0-9]{2}-[0-9]{2}"
          placeholder="380 XX XXX XX XX"
        />
        <button type="submit">Submit</button>
      </form>
    </div>
    <div class="upload-settings">
      <label>Your Avatar</label>
      <div class="settings-avatar">
          <img :src="loggedUserAvatar || photoUrl">
      </div>
      <div class="upload-block">
        <input type="file" ref="file" v-on:change="handleFileUpload">
        <button v-on:click="submitFileUpload">Update</button>
      </div>
    </div>
  </div>
  <div class="password-settings">
    <h2>Password</h2>
    <span>Change your password</span>
  </div>
</div>
</template>

<script>
import { advertsAPI } from '../DAL/requests'
import { PHOTOS_URL } from '../constants'

export default {
  name: "ProfileSettings",
  data() {
    return {
      photoUrl: '',
      firstName: '',
      lastName: '',
      bio: '',
      contacts: '',
      file: ''
    };
  },
  mounted() {
    advertsAPI.getPhotoUrl(JSON.parse(localStorage.getItem('user')).username).then(response => {
      this.photoUrl = response.data.result.photoPath
    }).catch(error => {
      console.log(error)
    }) 
  },
  methods: {
      handleFileUpload() {
          this.file = this.$refs.file.files[0]
      },
      submitFileUpload() {
        this.$store.dispatch('fileUpload', this.file)
      },
      updateInfo() {
        advertsAPI.addInfo(this.firstName, this.lastName, this.bio, this.contacts).then( () => {
          this.$router.push({ name: "Profile" });
        }).catch(error => {
          console.log(error)
        })
      }
  },
  computed: {
    loggedUserAvatar() {
      return this.$store.getters.loggedUserAvatar
    }
  }
};
</script>

<style scoped>
.profile-settings {
  display: flex;
  justify-content: space-around;
  padding-bottom: 2rem;
  border-bottom: 1px solid #c4c4c4;
}


.info-settings form {
  display: flex;
  flex-direction: column;
}

.info-settings form input {
  border-radius: 5px;
  border: 1px solid black;
  padding: .2rem .5rem;
}

.info-settings textarea {
  height: 120px;
  width: 300px;
  border-radius: 5px;
  padding: .2rem .5rem;
}

.info-settings label {
  margin-top: .5rem;
}

.info-settings form button {
  border-radius: 5px;
  border: 1px solid black;
  padding: .3rem 1rem;
  background-color: #FFDE02;
  margin-top: 1rem;
  cursor: pointer;
}

.upload-settings {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.settings-avatar {
    margin-top: .5rem;
    height: 125px;
    width: 125px;
    border-radius: 50%;
}

.settings-avatar img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.upload-block {
  margin-top: 1rem;
}

.upload-block input::-webkit-file-upload-button {
      visibility: hidden;
}

.upload-block input::before {
  content: 'Select some files';
  display: inline-block;
  border: 1px solid black;
  border-radius: 5px;
  background-color:#FFDE02;
  padding: .3rem 2.5rem;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
}

.upload-block button {
  border-radius: 5px;
  border: 1px solid black;
  padding: .3rem 1rem;
  background-color: #FFDE02;
  cursor: pointer;
}

.password-settings {
  display: flex;
  justify-content: space-between;
  padding: 2rem 2rem 2rem 0;
  border-bottom: 1px solid #c4c4c4;
}

.password-settings span {
  color: #8BB7E9;
  cursor: pointer;
}

</style>