<template>
<div class="profile-card-wrapper">
  <div class="profile-card">
      <div class="card-header">
        <div class="background"></div>
        <div class="profile__card__img">
          <img :src="photoUrl" />
        </div>
      </div>
      <div class="profile-info">
          <h2>{{ username }}</h2>
          <div>
            <strong>First Name: </strong>
            <span>{{ firstName }}</span>
          </div>
          <div>
            <strong>Last Name: </strong>
            <span>{{ lastName }}</span>
          </div>
          <strong>Bio: </strong>
          <p>{{ bio }}</p>
        </div>
      <div class="btn-container">
        <button class="contact-btn" v-on:click="showContacts">Contact</button>
        <button
          class="ban-btn"
          v-if="loggedUserRole === 'admin'"
          v-on:click="banUser">
          Ban User
        </button>
      </div>
    </div>
    <div v-show="isClicked" class="contacts-card">
      <div>
        <span><i class="fas fa-phone-alt"></i></span>
        Phone: +{{ contacts }}
      </div>
    </div>
</div>
  
</template>

<script>
import { advertsAPI } from "../DAL/requests";

export default {
  name: "ProfileCard",
  props: {
    username: {
      type: String,
      required: true,
    },
  },
  data() {
    return {
      photoUrl: "",
      firstName: "",
      lastName: "",
      bio: "",
      contacts: "",
      isClicked: false,
    };
  },
  methods: {
    banUser() {
      advertsAPI
        .banUser(this.username)
        .then(() => {
          this.$router.push({ name: "Browse" });
        })
        .catch((error) => {
          console.log(error);
        });
    },
    showContacts() {
      this.isClicked = !this.isClicked
    }
  },
  computed: {
    loggedUserRole() {
      return this.$store.getters.loggedUserRole;
    },
  },
  watch: {
    username(value) {
      if (value) {
        advertsAPI
          .getPhotoUrl(this.username)
          .then((response) => {
            this.photoUrl = response.data.result.photoPath;
          })
          .catch((error) => {
            console.log(error);
          });
        advertsAPI.getInfo(this.username).then((response) => {
            this.firstName = response.data.firstName,
            this.lastName = response.data.lastName,
            this.bio = response.data.bio,
            this.contacts = response.data.contacts;
        });
      }
    },
  },
};
</script>

<style scoped>
.profile-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 3rem;
  box-shadow: 0px 1px 2px 3px rgba(165, 165, 165, 0.2);
  margin: 0rem 2rem;
  border-radius: 5px;
}

.card-header {
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
}

.profile-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: .5rem;
}

.profile-info p {
  text-align: center;
}

.card-header h2 {
  margin-bottom: 0.5rem;
}

.btn-container {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.contact-btn {
  padding: 0.5rem 1rem;
  background-color: #ffde02;
  border: none;
  border-radius: 9999px;
  font-weight: 600;
  font-size: 1.1rem;
  cursor: pointer;
  outline: none;
}

.ban-btn {
  padding: 0.5rem 1rem;
  margin-left: 1rem;
  border: none;
  border-radius: 9999px;
  font-weight: 600;
  font-size: 1.1rem;
  cursor: pointer;
  outline: none;
  background-color: #ff2b2b;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 5.6rem;
  background-color: #ffde02;
  z-index: -1;
  border-radius: 5px 5px 0 0;
}

.profile__card__img {
  height: 90px;
  width: 90px;
  border-radius: 50%;
  margin-right: 1rem;
}
.profile__card__img img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.profile-card-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contacts-card {
  padding: 1rem 1.5rem;
  margin-top: 1.5rem;
  border-radius: 5px;
  box-shadow: 0px 1px 2px 3px rgba(165, 165, 165, 0.2);
  width: 84%;
}

.contacts-card span {
  margin-right: .5rem;
}

.contacts-card span svg {
  color: #00b600;
}
</style>