<template>
    <div class="info-container">
        <h3>User Info</h3>
        <div class="name">
            <div>
                <div>First Name: </div>
                <div>Last Name: </div>
            </div>
            <div>
                <div>{{userInfo.firstName}}</div>
                <div>{{userInfo.lastName}}</div>
            </div>
        </div>
        <div class="bio">
            <div>Bio: </div>
            <p>{{userInfo.bio}}</p>
        </div>
    </div>
</template>

<script>
export default {
    name: 'ProfileInfo',
    props: {
        userInfo: {
            type: Object,
            required: true
        }
    }
}
</script>

<style scoped>
    .info-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .name {
        display: flex;
        justify-content: center;
        border-bottom: 1px solid #c4c4c4;
        width: 100%;
    }

    .name div {
        padding: .8rem 0.5rem;
        font-size: 1.1rem;
    }

    .bio {
        margin-top: 1rem;
        text-align: center;
    }
    .bio p {
        margin-top: .5rem;
    }
</style>