<template>
    <div class="sidebar">
        <h1>Category</h1>
        <ul>
            <li v-for="c in categories"
            :key="c._id">
                <router-link :to="{ name: 'Browse', params: { category: c.title } }">
                    {{c.title}}
                </router-link>
            </li>
        </ul>
    </div>
</template>

<script>
import { advertsAPI } from '../DAL/requests';

export default {
  props: {
    categories: {
      type: Array,
      required: true,
    },
  },
};
</script>

<style scoped>
    .sidebar {
        margin-left: 3rem;
        width: 15%;
    }
    .sidebar ul {
        margin-top: 1rem;
        list-style: none;
    }
    .sidebar ul li {
        padding-top: 1rem;
        font-size: 1.2rem;
        text-align: start;
    }
    a {
        text-decoration: none;
        padding: .5rem 1rem .5rem 1rem;
        color: black;
        transition: 0.325s ease-in;
        border-radius: 9999px;
    }


    a:hover {
        box-shadow: inset 10rem 0 0 0 #FFDE02;
    }


    .router-link-exact-active {
        background-color: #FFDE02;
        border-radius: 9999px;
    }

</style>
