<template>
    <div class="missing-page">
        <h1>Nothing found..</h1>
        <div class="missing-image">
            <img src="../../assets/broken-light-bulb.png">
        </div>
        <div class="elipse"></div>
    </div>
</template>

<style scoped>
    .missing-page {
        width: 100%;
        height: auto;
        position: relative;
    }

    .missing-image {
        height: 250px;
        overflow: hidden;
        
    }

    .missing-image img {
        height: 100%;
        width: auto;
        transform: rotateZ(55deg);
    }
    
    .elipse {
        clip-path: ellipse(44% 16% at 46% 51%);
        transform: rotateZ(-15deg);
        background-color: #FFDE02;
        position: absolute;
        height: 100%;
        width: 450px;
        top: 20%;
        right: 35%;
        z-index: -1;
    }
</style>