<template>
  <div class="pagination">
    <span v-if="this.portionNumber > 1" v-on:click="setPortionNumber(portionNumber - 1)" class="arrow"><img src="../../assets/chevron-left.svg"></span>
    <span v-for="page in setPages" :key="page" v-on:click="$emit('change-page', page)" class="page" :class="{active : currentPage === page}">{{page}}</span>
    <span v-if="this.portionNumber < this.portionCount" v-on:click="setPortionNumber(portionNumber + 1)" class="arrow"><img src="../../assets/chevron-right.svg"></span>
  </div>
</template>

<script>

export default {
  name: 'Pagination',
  props: {
    totalPages: {
      type: Number,
      required: true,
    },
    currentPage: {
      type: Number,
      required: true,
    },
    limit: {
      type: Number,
      required: true,
    },
    portionSize: {
      type: Number,
      required: true,
    },
  },
  data() {
    return {
      pages: [],
      portionCount: 0,
      portionNumber: 1,
      leftPortionPageNumber: 1,
      rightPortionPageNumber: 0
    };
  },
  mounted() {
    this.leftPortionPageNumber = (this.portionNumber - 1) * this.portionSize + 1,
    this.rightPortionPageNumber = this.portionNumber * this.portionSize;
  },
  methods: {
    setPortionNumber(value) {
      this.portionNumber = value;
    },
  },
  computed: {
    setPages() {
      return this.pages.filter((p) => p >= this.leftPortionPageNumber && p <= this.rightPortionPageNumber);
    },
  },
  watch: {
    totalPages(newVal, oldVal) {
      this.portionCount = Math.ceil(this.totalPages / this.portionSize);
      let pageArr = []
      for (let i = 1; i <= this.totalPages; i++) {
        pageArr.push(i)
      }
      this.pages = pageArr
    },
    portionNumber() {
      this.leftPortionPageNumber = (this.portionNumber - 1) * this.portionSize + 1,
      this.rightPortionPageNumber = this.portionNumber * this.portionSize;
      
    }
  },
};
</script>

<style scoped>
.pagination {
  text-align: center;
  padding: 1rem;
  margin-top: 1rem;
}

.arrow {
  display: inline-block;
  height: 1rem;
  width: 1rem;
  cursor: pointer;
}

.arrow img {
  height: 100%;
  width: 100%;
}

.page {
   padding: .5rem .9rem;
   margin: 0 .7rem;
   cursor: pointer;
}

.active {
  background-color: #FFDE02;
  border-radius: 3px;
  color: white;
}
</style>
